body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: $color-light;
}

/*SIDEBAR*/

.section--sidebar {
    position: fixed; 
    width: 200px;
    background: $color-dark;
    z-index: 1;
    overflow-y: auto;
    height: 100%;  
    
    img {
        width: 100%;
        height: 100%;
    }
}

/*TOPBAR*/

.section--topbar {
    position: fixed;
    width: 100vw;
    height: 65px;
    background: $color-main;
}

/*CONTENT*/

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.section_wrapper {
    margin-top: 65px;
    margin-left: 200px;
    width: 100%;
}

.section_content {
    display: flex;
    margin: 10px;
    height: 100%;
    background: $color-main;
}

/* MEDIA */

@media (max-width: 768px) {
    .section--topbar {
        display: none;
    }
    .section--sidebar {
        width: 100%;
        height: 65px;
        overflow-y: hidden;
        transition: all 1s;
    }

    .show {
        overflow-y: auto;
        height: 100vh;
        transition: all 1s;
    }

    .section_wrapper {
        margin-left: 0;
    }
}
