* {
    box-sizing: border-box;
  }

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: $color-light;
}

.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;    
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.exit_modal_button {
    cursor: pointer;
}


/*SIDEBAR*/

.section--sidebar {
    position: fixed; 
    width: 200px;
    background: $color-dark;
    z-index: 1;
    overflow-y: auto;
    height: 100%;
    
    &::-webkit-scrollbar {
        display: none;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
}

/*TOPBAR*/

.section--topbar {
    position: fixed;
    width: 100vw;
    height: 65px;
    background: $color-main;
}

/*CONTENT*/

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.section_wrapper {
    margin-top: 65px;
    margin-left: 200px;
    width: 100%;
}

.section_content {
    margin: 10px;
    background: $color-main;
}



/* MEDIA */

@media (max-width: 768px) {
    .section--topbar {
        display: none;
    }
    .section--sidebar {
        width: 100%;
        height: 65px;
        overflow-y: hidden;
        transition: all 1s;
    }

    .show {
        overflow-y: auto;
        height: 100vh;
        transition: all 1s;
    }

    .section_wrapper {
        margin-left: 0;
    }
}

@media(max-width: 767px) {
    @include grid('sm');
}
  
@media(min-width: 768px) {
    @include grid('md');
}
  
@media(min-width: 992px) {
    @include grid('lg');
}
  
@media(min-width: 1200px) {
    @include grid('xl');
}
