/* COLORS */
$color-light: #f5f5f2;
$color-dark: #333333;
$color-lighten-dark: lighten($color-dark, 20%);
$color-main: #ffffff;
$color-text: #979797;
$color-available: #04AE00;
$color-link: #56819f;
$color-lighten-link: lighten($color-link, 40%);
$color-effect: #ffa200;
$color-button: #f58220;
$color-black: #000000;

/* FONTS WEIGHT*/
$font-bold: 700;