/*GENERAL*/

.general--section_title {
    @include section-title;
    margin: 0;
}

.general--row {
    border-bottom: 1px solid $color-text;
}

.general--icon {
    @include icon;
    fill: $color-main;
}

/* DATE PICKER */

.general--date_picker {
    justify-content: center;
    align-items: center;
}

.general--form {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
}



.refresh {
    @include basic_button;
}

.date_picker {
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid $color-text;
    outline: none;
}

/* CHART */
.general--table {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table_row {
    width: 70%;
    justify-content: space-between;

    .table_cell {
        width: 40%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-text;
        padding-top: 10px;
        padding-bottom: 5px;    
    }   
}

.table_category {
    @include paragraph;
    margin: 0;
}   

.table_number {
    color: $color-black;
}

.chart_title {
    @include paragraph;
    margin-bottom: 15px;
    text-align: center;
}

.general--chart {
    padding-bottom: 30px;
}

/* LINKS */

.add_link_button {
    @include basic_button;
}

.general--links_button {
    margin: 20px;
    justify-content: center;
}

.general--links_button_last {
    padding-bottom: 20px;
}

.general--links_icon {
    @include icon;
    fill: $color-text;

    &:hover {
        fill: $color-effect;
        transition: all 0.5s;
    }
}

.general--link_row {
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid $color-text;
    padding: 20px 0;

    &:hover {
        background-color: $color-lighten-link;
        transition: all 0.5s;
    }
}

.general--link_row_last {
    border-bottom: 1px solid $color-text;
}

.general--link_icons_container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.general--link_title {
    @include paragraph;
    margin: 0;
    flex: 1;
}

.general--link_single {
    @include link;
    cursor: pointer;
    flex: 1;

    &:hover {
        text-decoration: underline;
    }
}


/* MEDIA */

@media (max-width: 425px) {
    .general--section_title {
        font-size: 10px;
    }
    .general--form {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .date_picker {
        font-size: 12px;
        width: 80%;
        height: 80%;
    }

    ::placeholder {
        font-size: 12px;
    }

    .general--icon {
        width: 15px;
        height: 15px;
    }
    
    .refresh {
        padding: 4px 4px;
    }

    .table_category {
        font-size: 15px
    }
    
    .chart_title {
        font-size: 15px;
    }

    .general--link_title {
        font-size: 15px;
    }

    .general--links_button {
        margin: 10px;
    }

    .general--links_button_last  {
        padding-bottom: 0px;
    }

    .general--link_single {
        font-size: 15px;
    }

    .general--links_icon {
        width: 15px;
        height: 15px;
    }

    .add_link_button {
        padding: 7px 7px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .table_cell {
        flex: 0 0 100%;
    }

    .general--link_row {
        justify-content: space-between;
        padding: 10px 0;
    }

    .general--link_title {
        flex: 0 0 100%;
        text-align: center;
        padding-bottom: 5px;
    }

    .general--link_single {
        flex: 0 0 80%;
    }

    .link-icons-container {
        flex: 0 0 20%;
        display: flex;
        justify-content: flex-end;
    }
}

