/*GENERAL*/

.general--section_title {
    @include section-title;
    margin: 0;
}

.general--row {
    border-bottom: 1px solid $color-text;
}

/* DATE PICKER */

.general--date_picker {
    justify-content: center;
    align-items: center;
}

.general--form {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
}

.general--icon {
    width: 20px;
    height: 20px;
    fill: $color-main;
}

.refresh {
    padding: 10px 10px;
    cursor: pointer;
    background: $color-button;
    border: none;
    border-radius: 4px;
}

.date_picker {
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid $color-text;
    outline: none;
}

/* CHART */
.table {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table_row {
    width: 70%;
    justify-content: space-between;

    .table_cell {
        width: 40%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-text;
        padding-top: 10px;
        padding-bottom: 5px;    
    }   
}

.table_category {
    @include paragraph;
    margin: 0;
}   

.table_number {
    color: $color-black;
}

.chart_title {
    @include paragraph;
    margin-bottom: 15px;
    text-align: center;
}

.chart_container {
    position: relative;
}



/* MEDIA */

@media (max-width: 425px) {
    .general--section_title {
        font-size: 10px;
    }
    .general--form {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .date_picker {
        font-size: 12px;
        width: 80%;
        height: 80%;
    }

    ::placeholder {
        font-size: 12px;
    }

    .general--icon {
        width: 15px;
        height: 15px;
    }
    
    .refresh {
        padding: 4px 4px;
    }

    .table_category {
        font-size: 15px
    }
    
    .chart_title {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .table_cell {
        flex: 0 0 100%;
    }
}

