/* GENERALS */
.styleguide_header_wrapper {
    background-color: #333333;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #f5f5f2;
    font-family: 'Courier New', Courier, monospace;
}

.styleguide_header {
    margin-bottom: 0;
}

code {
    overflow-wrap: anywhere;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    background-color: white;
    box-shadow: 2px 3px grey;
    width: 80%;
    margin: 0 auto;
}

pre {
    white-space: pre-wrap;
}

.styleguide_section {
    border: 1px solid black;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex: 0 0 100%;
    padding-bottom: 10px;
}

.styleguide_section_title {
    flex: 0 0 100%;
    text-decoration: underline;
}

.last_section {
    margin-bottom: 20px;
}

/*TYPOGRAPHY */
.styleguide_typography_option {
    flex: 0 0 100%;
    padding-bottom: 20px;
}

.box-title {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

/* COLORS */
.styleguide_colorbox {
    flex: 0 0 20%;
}

.colorbox {    
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    border: 1px solid black;
    margin: 15px auto;
}

.color1 {
    background: #f5f5f2;
}

.color2 {
    background: #333333;
}

.color3 {
    background: #666666;
}

.color4 {
    background: #ffffff;
}

.color5 {
    background: #979797;
}

.color6 {
    background: #04AE00;
}

.color7 {
    background: #56819f;
}

.color8 {
    background: #d7e2ea;
}

.color9 {
    background: #ffa200;
}

.color10 {
    background: #f58220;
}

.color11 {
    background: #000000;
}

/* BUTTONS AND FORMS */

.buttons_forms_wrapper {
    justify-content: center;
}

.buttons_wrapper {
    flex: 0 0 100%;
}

.forms_wrapper {
    flex: 0 0 100%;
}

.button {
    display: block;
    margin: 10px auto 20px;
}

.input_field {
    display: block;
    margin: 10px auto 20px;
}

/* ICONS */

.icon_wrapper {
    flex: 0 0 100%;
}

.icon {
    flex: 0 0 50%;
    text-align: center;
}

.styleguide_icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px auto;
}

/* MEDIA */
@media (max-width: 425px) {
    .styleguide_colorbox {
        flex: 0 0 33.333%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .styleguide_colorbox {
        flex: 0 0 25%;
    }
}

